<header>
    <h2>Sistema de Gestión de Laboratorio</h2>
    <nav>
        <a href="/">Inicio</a> | 
        <a href="/pacientes">Pacientes</a> | 
        <a href="/empleados">Empleados</a> | 
        <a href="/exam">Exámenes</a>
    </nav>
    <hr>
</header>
