<header>
    <h2>Sistema de Gestión de Laboratorio</h2>
    <nav>
        <a href="/">Inicio</a> | 
        <a href="/vistas/pacientes">Pacientes</a> | 
        <a href="/vistas/empleados">Empleados</a> | 
        <a href="/vistas/examenes">Exámenes</a>
    </nav>
    <hr>
</header>
