<header>
  <div class="top-bar">
    <h3>
      Sistema de Gestión de Laboratorio
      <span style="font-family: monospace; color:#888;">[horrible interfaz temporal]</span>
    </h3>
  </div>
  <nav>
    <a href="/">Inicio</a>
    <a href="/pacientes">Pacientes</a>
    <a href="/empleados">Empleados</a>
    <a href="/">Exámenes</a>
  </nav>
</header>
