<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="index-text">
      <h1 id="initial-msg">Bienvenido a <%= title %>!</h1>
      <p>
        [Este es un placeholder de lo que va a ser el dashboard del sistema]
      </p>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
