<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sistema: <%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <a href="/users">Ver listado de pacientes</a>
  </body>
</html>