* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background: #11111d;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
}

.user-svg {
  width: 60px;
  height: 50px;
}

.login-text-div {
  text-align: center;
}
.login-text-div h1 {
  font-size: 1rem;
}
.login-text-div p {
  font-size: 0.6rem;
}

.login-formulario form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  width: 100%;
  padding: 0 10px 0 10px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #11111d;
  border-radius: 2px 2px 0 0;
  outline: none;
  margin-bottom: 10px;
  font-size: 0.7rem;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #eee;
}

.entrar-btn {
  width: 100%;
  text-align: right;
}

button {
  font-weight: 400;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: #ddd;
}
button:hover {
  animation: 0.5s ease forwards entrar-anim;
}

@keyframes entrar-anim {
  0% {
    cursor: pointer;
  }
  100% {
    cursor: pointer;
    background: #11111d;
    color: #fff;
  }
}
