* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* General */

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #09090f;
  color: #fff;
}

.todo-container {
  width: calc(100% - 210px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title-section {
  font-size: 1.2rem;
}

/* Inicio */

.info-index-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.pacientes-info,
.empleados-info,
.examenes-info,
.ordenes-info {
  width: 280px;
  height: 100%;
  padding: 20px;
  background: #262442;
  border: 1px solid #3f3d58;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title {
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f3d58;
}
.contador-info {
  font-size: 1.4rem;
  text-align: right;
  letter-spacing: 0.1rem;
  color: #b3cde0;
  font-weight: 800;
}
.registradoshoy-text {
  font-size: 0.6rem;
  color: #bdbdbd;
}
/* Empleados */
.container-boton-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.boton-campo-profesion {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
}
.boton-campo-profesion:hover {
  cursor: pointer;
}
.contenedor-datos-empleados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.label-info {
  font-size: 0.55rem;
  color: #b1b0c2;
}
.contenedor-datos-empleados input {
  font-size: 0.6rem;
  padding: 2px;
}
.parametro-class {
  width: 250px;
  border-radius: 10px;
  border: 1px solid #b1b0c2;
  padding: 10px;
  margin-bottom: 5px;
}
.info-profesional-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.class-btn-param {
  width: 20px;
  height: 20px;

}
.input-param {
  width: 200px;
}

/* Pacientes */

.table-general {
  font-size: 0.8rem;
  width: 100%;
  border-spacing: 0;
  margin: 0;
}
.table-general thead th {
  background: #11111d;
  position: sticky;
  top: 50px;
  z-index: 1;
  font-size: 0.65rem;
  padding: 5px 5px 5px 5px;
  border: 1px solid #3f3d58;
}
.table-general td {
  border-bottom: 1px solid #3f3d58;
  padding: 10px;
}
.acciones-td {
  text-align: center;
}
.boton-accion-tabla {
  background: none;
  border: none;
}
.acciones-btn-svg {
  color: #fff;
  width: 20px;
  height: 20px;
}
.boton-accion-tabla:hover {
  cursor: pointer;
}
.acciones-btn-svg:hover {
  color: #b1b0c2;
}

.top-pacientes {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: calc(100% - 210px);
  height: 50px;
  left: 210px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 15px;
  background: #09090f;
  border-bottom: 1px solid #3f3d58;
  z-index: 105;
}
.top-pacientes span {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.block-top {
  width: 100%;
  height: 40px;
}
.buscador-paciente {
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.buscar-boton {
  padding: 5px;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
}
.busqueda-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.btn-reseteo {
  padding: 5px;
  background: #3f3d58;
  border: 1px solid #b1b0c2;
  border-radius: 20px;
  display: none;
  align-items: center;
  justify-content: center;
}
.btn-reseteo:hover {
  cursor: pointer;
  animation: 0.2s ease forwards button-plus;
}
.btn-reseteo-svg {
  color: #fff;
  width: 15px;
  height: 15px;
}

.todo-principal-pacientes {
  padding: 10px;
  height: 100dvh;
  width: 100%;
}
.area-admin-editor-btn {
  font-size: 0.6rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #3f3d58;
  color: #ffffff;
  font-weight: 600;
}
.area-admin-editor-btn:hover {
  cursor: pointer;
  animation: 0.5s ease forwards button-plus;
}
@keyframes button-plus {
  100% {
    background: #b1b0c2;
    color: #000;
  }
}

/* Partials */
/* P-general */
.navbar-block {
  width: 210px;
  height: 100%;
}
/* Creacion */
.ventana-fondo-creacion {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
  overflow-y: scroll;
}
.actividad-empleado-td {
  text-align: center;
}
.boton-cambiar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.boton-cambiar-svg {
  width: 10px;
  height: 10px;
}
.datos-creacion-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #11111d;
  border-radius: 25px;
  border: 1px solid #3f3d58;
  overflow-y: scroll;
  max-height: 100%;
}
.form-crear-dentro {
  background: #262442;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #3f3d58;
}
.btn-crear {
  width: 200px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: #11111d;
  font-weight: 500;
  font-size: 0.8rem;
}
.btn-crear:hover {
  cursor: pointer;
  animation: 0.2s ease forwards boton-normal;
}
.btn-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form-crear-dentro .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.field select {
  padding: 5px 20px 5px 5px;
  width: 250px;
}
.field input:not(.input-param) {
  width: 250px;
  padding: 5px 20px 5px 5px;
}

/* Confirmar */
#confirmacion-todo-ventana {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
}
.cerrar-btn button {
  background: none;
  color: #ffffff;
  border: none;
}
.cerrar-btn button:hover {
  cursor: pointer;
}
#confirmacion-mensaje {
  width: 400px;
  height: 200px;
  background: #11111d;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #3f3d58;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#valor-texto-confirmar {
  width: 100%;
  text-align: center;
}
.confirmacion-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-confirmar {
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  background: #fff;
  color: #09090f;
  border: 1px solid #fff;
  font-weight: 800;
}
.btn-confirmar:hover {
  cursor: pointer;
  animation: 0.2s ease forwards boton-normal;
}

@keyframes boton-normal {
  100% {
    background: #3f3d58;
    color: #fff;
    border: 1px solid #b1b0c2;
  }
}

/* editar */

.ventana-fondo-editar {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 150;
}
.datos-editar-div {
  background: #11111d;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #3f3d58;
}
.form-editar-dentro {
  background: #262442;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #3f3d58;
}
.form-editar-dentro .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* InfoUsuario */

#info-user-modal-fondo {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 161;
}
.info-user-modal {
  background: #11111d;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #3f3d58;
  width: 600px;
}

.top-info-usuario {
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.top-info-usuario h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bdbdbd;
}
.id-usuario {
  font-style: italic;
  font-weight: 600;
  color: #ffffff;
}

#cerrar-info-btn {
  background: none;
  color: #ffffff;
  border: none;
}
#cerrar-info-btn:hover {
  cursor: pointer;
}
.cerrar-info-svg {
  width: 15px;
  height: 15px;
}

.mid-info-usuario {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 180px;
}
.identificacion-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #262442;
  border-radius: 10px;
  border: 1px solid #3f3d58;
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.id-texto {
  font-size: 0.75rem;
}
.info-user-ind {
  font-weight: 600;
}
.contacto-user-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3f3d58;
}
.contacto-user-div h3 {
  font-size: 0.7rem;
  color: #bdbdbd;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #3f3d58;
  margin-bottom: 5px;
}
.contacto-user-div .id-texto {
  margin: 0 0 0 10px;
}
.user-pfp {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

/* ///////// */

.navbar {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 210px;
  height: 100dvh;
  left: 0px;
  z-index: 100;
  background: #262442;
}

.todo-navbar {
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #11111d;
}

.logo-navbar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 5px;
}
.icon-navbar-logo {
  width: 25px;
  height: 25px;
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: calc(100% - 10px);
  border-radius: 5px;
}

.navbar .links-navbar a:not(.navbar-activo) {
  color: #fff;
  margin: 5px;
  padding: 10px 20px 10px 20px;
}
.navbar-activo {
  background: #fff;
  color: #11111d;
  margin: 5px;
  padding: 10px 20px 10px 20px;
}
.navbar .links-navbar a:hover:not(.navbar-activo) {
  animation: 0.5s ease forwards navbar-hover;
}

.grupos-titulos {
  color: #ccc;
  font-size: 0.6rem;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
}
.grupos-titulos:first-of-type {
  margin-top: 5px;
}

.navbar a p {
  font-size: 0.7rem;
}

.navbar-title {
  margin: 10px 10px 0px 10px;
  font-size: 1rem;
}
.navbar-subtitle {
  margin: 0px 10px 10px 10px;
  font-size: 0.55rem;
  font-weight: 600;
  color: #bdbdbd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.icons-navbar {
  width: 15px;
  height: 15px;
}

.user-info {
  display: flex;
  background-color: #262442;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
}
.user-info a {
  width: fit-content;
  height: fit-content;
  color: #fff;
}
.icon-bottom-navbar {
  width: 15px;
  height: 15px;
}
.lol {
  width: calc(100% - 20px);
  font-size: 0.6rem;
}
.cedula-usuario {
  font-weight: 800;
}

@keyframes navbar-hover {
  100% {
    background-color: #fff;
    color: #11111d;
  }
}
