* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100dvh;
  width: 100dvw;
}

header {
  color: #fff;
  width: 100dvw;
  height: max-content;
  background-color: #000;
}

header h2 {
  font-size: 0.9rem;
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav > a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  padding: 2px 5px;
  margin: 5px;
}

nav > a:hover {
  color: #000;
  background-color: #fff;
}

h1 {
  padding: 20px;
  color: #3f6dcf;
}

.index-text {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#initial-msg {
  padding: 0;
  margin-left: 20px;
  font-size: 2.3rem;
}

.index-text p {
  margin-left: 20px;
  font-size: 1rem;
}

#info {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#info p {
  margin-top: 10px;
  font-size: 1.2rem;
}

table {
  font-size: 0.9rem;
  min-width: 400px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100dvw;
  padding: 2px;
  background-color: #000;
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
}